@{
    ViewData["Title"] = "Teşekkürler";
}

<h2>@ViewData["Title"]</h2>
<p>Blog Yazınız Başarıyla oluşturuldu,Teşekkürler.</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: #ADD8E6; /* Hakkımızda sayfası arka plan rengi */
        }
    </style>
</head>
<body>
</body>
</html>