

.header-link {
    font-size: 12px; /* Yazı boyutunu buradan ayarlayabilirsiniz */
    font-weight: bold; /* Yazı kalınlığını buradan ayarlayabilirsiniz */
    color: #333; /* Yazı rengini buradan ayarlayabilirsiniz */
}
